.container {
  padding: 20px;
  .listContainer {
    height: 88vh;
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
    width: 100%;
    .listCol {
      flex: 1;
      overflow-y: auto;
    }
  }
}
