{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"  // 只保留 TS
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}